/*SELECTOR UNIVERSAL*/
/**{
    border: 1px solid blue;
    padding: 10px;
    margin: 10px;
}*/

.container {
    width: 920px;
    margin: 0 auto;
    /*margin:o; aplica a todos*/
    /*margin:0 0;primero aplica top-botton y el segundo right-left*/
    /*margin:0 0 0;top righ-left botton*/
    /*margin:0 0 0 0;top right botton left*/
    /*margin-top, margin-right, margin-botton, margin-left*/
}

#Encabezado{
  height: 150px;
   display: flex;
   justify-content: space-between;
    align-content: flex-start;
    align-items: center;
}
#Encabezado figure{
margin: 0    
}
#titulos * {
    margin: 0;
     
}
#Encabezado h1 {font-size: 1.2em}
#Encabezado h2 {font-size: 1em}
#Encabezado h3 {font-size: 0.9em}
#Encabezado h4 {font-size: 0.8em}

#Menu{
    height: 50px;
    display: flex;
    justify-content: center;
         
}

#Contenido{
    
}

#Nota-Importante{
 height: 300px;
   background-color:green;   
}

#Nota-Secundaria{
    height: 300px;
    width: 700px;
    display:inline-block;
    float: left;
  background-color:yellow;
}

#Publicidad{
    height: 300px;
     width: 220px;
    display:inline-block;
    float:right;
  background-color:peru;
    
}

#Pie{
    height: 150px;
    clear: both;
  background-color:coral;
}
#Menu li {
 list-style-type: none;
    padding: 0;
    display: inline-block;
   
}
#Menu>ul>li{
    display: inline-block;
}
#Menu li a {
  text-decoration: none;
    color: black;
}
#Menu>ul>li a{
    padding: 10px;
    background-color:gray;
}
#Menu li ul {
    display:none;
}